@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #303a2b;
    font-family: "Bangers", sans-serif;
}

h1 {
    font-family: "Bangers", sans-serif;
    font-size: 5rem;
    color: #c1bddb;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: center;
    padding: 4px;
}

p {
    text-align: center;
    color: #c1bddb;
    font-size: larger;
    padding: 30px;
    letter-spacing: 2px;
}

canvas {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column; /* arrage items on top of the other */
    justify-content: center;
    align-items: center;
    box-shadow: #c1bddb 20px 10px 50px;
    margin: 0 auto;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 3rem;
    margin: 30px auto;
    width: 300px;
}    

#menu button {
    background: none;
    color: #ff99c9;
    font-family: "Bangers", sans-serif;
    font-size: x-large;
}

#menu i {
    font-size: xx-large;
    color: #ff99c9;
    display: flex;
    justify-content: center;
    padding-top: 7px;
}

#menu .score {
    display: flex;
    flex-direction: column;
    font-family: "Bangers", sans-serif;
    color: #5cfcec;
    font-size: x-large;
    justify-content: center;
}

#sound {
    display: none;
}

#toggle-sound label {
    display: inline-block;
    text-align: left;
    width: 2rem;
}

@media(hover:hover) {
    toggle-sound label:hover {
        color: #ff99c9;
    }
}

#toggle-sound .sound-on {
    display: none;
}

#toggle-sound input[type="checkbox"]:checked~label .sound-on {
    display: inline-block;
}

#toggle-sound input[type="checkbox"]:checked~label .sound-off {
    display: none;
}

table {
    margin: 0 auto;
}

#button-area {
    text-align: center;
    padding: 1rem;
}

#button-area button {
    background: none;
    color: #ff99c9;
    font-family: "Bangers", sans-serif;
    font-size: x-large;
}

#button-area i {
    font-size: xx-large;
    color: #ff99c9;
    padding: 1rem;
}

footer {
    padding: .5rem;
}

/* display button controls on smaller screen devices*/
@media only screen and (min-width: 850px) {
    table {
        display: none;
    }
}